# Arquivos são grandes demais para o git hub
matriz_od/data/csv/Dados_Estatisticos.csv
matriz_od/data/csv/matriz_od_distancia.csv
matriz_od/data/csv/matriz_od_info_mun.csv
matriz_od/data/csv/matriz_od_turismo.csv
matriz_od/data/csv/od_rodo.csv
matriz_od/data/csv/matriz_od_horus.csv
matriz_od/data/excel/xlsx/Estudo Rotas Potenciais.xlsx
matriz_od/data/csv/matriz_od_completa.csv
absorcao_demanda/data/csv/matriz_od_completa.csv
absorcao_demanda/data/csv/matriz_od_horus.csv
projecao_demanda/data/csv/
projecao_demanda/data/txt/

